/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
		ul.with-margin {
			margin-left: 0 !important;
		}

		.social-container {
			width: 35% !important;
		}

		.slider-content {
			padding: 1em 1em 1em 5% !important;
		}
	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		.top-tools {
			display: none;
		}
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		p.top-spacing {
			margin-top: 0;
		}
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {

		header {
			background: url(../images/header.png) no-repeat center center;
			-webkit-background-size: 100%;
		  -moz-background-size: 100%;
		  -o-background-size: 100%;
		  background-size: 100%; 
			position: relative;
			margin-bottom: 2em;
			min-height: 16em;
		}

		.top-tools {
			display: none;
		}

		.logo {
			position: absolute;
			top: 0;
			left: 0;
			margin-top: 0 !important;
		}

		.slider {
			display: none;
		}

		.sub-nav {
			margin-top: 0 !important;
		}

		p.top-spacing {
			margin-top: 0;
		}

		.sub-nav {
			display: none;
		}

		.main-nav ul li {
			display: none !important;
		}

		.main-nav ul li.hide-mobile {
			display: inline !important;
		}

		header .container {
			width: 100%;
		}
	}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/