/*   
Theme Name: VT Designs WP Theme
Theme URI: http://www.vt-designs.com
Description: WordPress Theme for VT Designs
Author: CreativeFuse Initiative
Author URI: http://www.creativefuse.org
Version: 1.0
*/

@import url('css/base.css');
@import url('css/layout.css');
@import url('css/skeleton.css');
@import url('css/responsive-nav.css');
@import url('css/font-awesome.min.css');
@import url('css/font-awesome-ie7.min.css');

/* FONTS */
@font-face {
  font-family: 'Jura';
  src: url('css/fonts/jura-regular.eot');
  src: url('css/fonts/jura-regular.eot') format('embedded-opentype'),
    url('css/fonts/jura-regular.woff') format('woff'),
    url('css/fonts/jura-regular.ttf') format('truetype'),
    url('css/fonts/jura-regular.svg#JuraRegular') format('svg');
}

.main-nav ul li.hide-mobile {
	display: none;
}

.mobile-nav {
	display: none;
}

.mobile-nav ul li {
	text-align: right;
	background: #ffffff;
	opacity: 0.8;
	border-bottom: solid 1px #6b7075;
	height: 2em;
	padding-top: 0.5em;
	padding-right: 1em;
	width: 100%;
	margin-bottom: 0;
}

.mobile-nav ul li a {
	text-decoration: none;
	font-size: 1.5em;
	font-weight: bold;
	padding-right: 1em;
}

.clear {
	clear: both;
}

.left {
	float: left;
}

.right {
	float: right;
}

.center {
	text-align: center;
}

.bold {
	font-weight: bold;
}

.pad {
	padding-right: 0.5em;
}

.top-spacing {
	margin-top: 5.25em;
}

body {
	background: #fffff5;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}

h1 {
	font-family: 'Jura', serif;
	font-size: 2em;
	font-weight: bold;
	margin: 0.5em 0;
}

h3{
	font-family: 'Jura', serif;
	font-size: 1.25em;
	font-weight: bold;
}

h5 {
	font-size: 1.5em;
	font-family: 'Jura', serif;
	color: #535456;
	padding: 1em 0;
	font-weight: bold;
}

p {
	line-height: 1.5em;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
}

/* Button Styles */

.button {
	display: block;
	font-family: 'Jura', serif;
	background-image: linear-gradient(bottom, rgb(255,195,54) 34%, rgb(255,226,109) 67%);
	background-image: -o-linear-gradient(bottom, rgb(255,195,54) 34%, rgb(255,226,109) 67%);
	background-image: -moz-linear-gradient(bottom, rgb(255,195,54) 34%, rgb(255,226,109) 67%);
	background-image: -webkit-linear-gradient(bottom, rgb(255,195,54) 34%, rgb(255,226,109) 67%);
	background-image: -ms-linear-gradient(bottom, rgb(255,195,54) 34%, rgb(255,226,109) 67%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.34, rgb(255,195,54)),
		color-stop(0.67, rgb(255,226,109))
	);
	border-radius: 0;
	font-size: 1em;
	width: 8em;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	border: solid 1px #c1b463;
}

.button:hover {
	background-image: linear-gradient(bottom, rgb(255,226,109) 67%, rgb(255,195,54) 34%);
	background-image: -o-linear-gradient(bottom, rgb(255,226,109) 67%, rgb(255,195,54) 34%);
	background-image: -moz-linear-gradient(bottom, rgb(255,226,109) 67%, rgb(255,195,54) 34%);
	background-image: -webkit-linear-gradient(bottom, rgb(255,226,109) 67%, rgb(255,195,54) 34%);
	background-image: -ms-linear-gradient(bottom, rgb(255,226,109) 67%, rgb(255,195,54) 34%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.34, rgb(255,226,109)),
		color-stop(0.67, rgb(255,195,54))
	);
}

.linkedin-button {
	float: right;
  width: 80px;
  height: 25px;
  background-image: linear-gradient(bottom, rgb(36,110,175) 23%, rgb(78,196,222) 62%);
	background-image: -o-linear-gradient(bottom, rgb(36,110,175) 23%, rgb(78,196,222) 62%);
	background-image: -moz-linear-gradient(bottom, rgb(36,110,175) 23%, rgb(78,196,222) 62%);
	background-image: -webkit-linear-gradient(bottom, rgb(36,110,175) 23%, rgb(78,196,222) 62%);
	background-image: -ms-linear-gradient(bottom, rgb(36,110,175) 23%, rgb(78,196,222) 62%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.23, rgb(36,110,175)),
		color-stop(0.62, rgb(78,196,222))
	);
  display: block;
  color: white !important;
  text-decoration: none;
  font-family: 'Jura', serif;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  line-height: 25px;
  border: #1b4d81 solid 1px;
  margin: 0.4em 0;
}

.linkedin-button:hover {
	color: white;
	background-image: linear-gradient(bottom, rgb(78,196,222) 62%, rgb(36,110,175) 23%);
	background-image: -o-linear-gradient(bottom, rgb(78,196,222) 62%, rgb(36,110,175) 23%);
	background-image: -moz-linear-gradient(bottom, rgb(78,196,222) 62%, rgb(36,110,175) 23%);
	background-image: -webkit-linear-gradient(bottom, rgb(78,196,222) 62%, rgb(36,110,175) 23%);
	background-image: -ms-linear-gradient(bottom, rgb(78,196,222) 62%, rgb(36,110,175) 23%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.23, rgb(78,196,222)),
		color-stop(0.62, rgb(36,110,175))
	);
}

/* Page Styles */

header {
	background: url(images/internal_v2_header.jpg) no-repeat center center;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
	position: relative;
	margin-bottom: 2em;
}

.logo {
	float: left;
	margin-top: -88px;
}

.main-nav {
	background: #ffffff;
	opacity: 0.8;
	border-bottom: solid 6px #6b7075;
	height: 1.75em;
	padding-top: 0.5em;
}

.main-nav ul {
	float: right;
}

.main-nav ul li {
	display: inline;
}

.main-nav ul li a {
	font-family: 'Michroma', sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	margin-right: 1.5em;
	font-weight: bold;
	font-size: 1.1em;
}

.main-nav ul li a:hover {
	border-bottom: solid 6px #ffd24f;
	padding-bottom: 6px;
}

.slider {
	position: absolute;
	top: 16em;
	width: 100%;
}

.slider-content {
	background: rgba(255,255,255,0.8);
	padding: 1em 1em 1em 18%;
	width: 40%;
	float: left;
}

.slider h4 {
	font-family: 'Jura', serif;
	font-size: 2em;
	font-weight: bold;
	color: #535456;
}

.slider h4.inverse {
	background: #535456;
	color: #ffd24f;
	padding: 0.25em;
	font-size: 1.75em;
	display: block;
	text-transform: uppercase;
	font-weight: lighter;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

.slider h5 {
	font-size: 1.4em;
	margin: 0;
	padding: 0;
}

.diagonal {
	width: 0;
	height: 0;
	border-top: 114px solid rgba(255,255,255,0.8);
	border-right: 100px solid transparent;
	float: left;
}

.sub-nav {
	margin-top: 26em;
	background-image: linear-gradient(bottom, rgba(61,60,60,0.9) 34%, rgba(99,95,94,0.9) 67%);
	background-image: -o-linear-gradient(bottom, rgba(61,60,60,0.9) 34%, rgba(99,95,94,0.9) 67%);
	background-image: -moz-linear-gradient(bottom, rgba(61,60,60,0.9) 34%, rgba(99,95,94,0.9) 67%);
	background-image: -webkit-linear-gradient(bottom, rgba(61,60,60,0.9) 34%, rgba(99,95,94,0.9) 67%);
	background-image: -ms-linear-gradient(bottom, rgba(61,60,60,0.9) 34%, rgba(99,95,94,0.9) 67%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.34, rgba(61,60,60,0.9)),
		color-stop(0.67, rgba(99,95,94,0.9))
	);
}

.sub-nav ul {
	float: left;
	width: 100%;
	margin-bottom: 0;
	height: 4em;
}

.sub-nav ul li {
	display: inline-block;
	width: 16%;
	height: 100%;
	text-align: center;
	line-height: 4em;
	margin-bottom: 0;
}

.sub-nav ul li:hover {
	background-image: linear-gradient(bottom, rgb(255,195,54) 34%, rgb(255,226,109) 67%);
	background-image: -o-linear-gradient(bottom, rgb(255,195,54) 34%, rgb(255,226,109) 67%);
	background-image: -moz-linear-gradient(bottom, rgb(255,195,54) 34%, rgb(255,226,109) 67%);
	background-image: -webkit-linear-gradient(bottom, rgb(255,195,54) 34%, rgb(255,226,109) 67%);
	background-image: -ms-linear-gradient(bottom, rgb(255,195,54) 34%, rgb(255,226,109) 67%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.34, rgb(255,195,54)),
		color-stop(0.67, rgb(255,226,109))
	);
}

a.commercial {
	background: url(images/commercial_icon.png) no-repeat;
}

a.education {
	background: url(images/education_icon.png) no-repeat;
}

a.government {
	background: url(images/government_icon.png) no-repeat;
}

a.healthcare {
	background: url(images/healthcare_icon.png) no-repeat;
}

a.residential {
	background: url(images/residential_icon.png) no-repeat;
}

a.manufacturing {
	background: url(images/manufacturing_icon.png) no-repeat;
}

.sub-nav ul li a {
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	color: transparent;
	display: block;
	height: 100%;
	margin: 0;
	padding: 0;
	background-position: center center;
	font-size: 1em;
}

.sub-nav ul li a:hover {
	color: #535456;
}

.background {
	background: url(images/bg-pattern.jpg);
}

.background-border {
	background: url(images/top_border.png) repeat-x;
	padding: 1em;
}

h5.inverse {
	padding: 0.5em;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-image: linear-gradient(bottom, rgb(63,64,66) 14%, rgb(115,117,119) 57%);
	background-image: -o-linear-gradient(bottom, rgb(63,64,66) 14%, rgb(115,117,119) 57%);
	background-image: -moz-linear-gradient(bottom, rgb(63,64,66) 14%, rgb(115,117,119) 57%);
	background-image: -webkit-linear-gradient(bottom, rgb(63,64,66) 14%, rgb(115,117,119) 57%);
	background-image: -ms-linear-gradient(bottom, rgb(63,64,66) 14%, rgb(115,117,119) 57%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.14, rgb(63,64,66)),
		color-stop(0.57, rgb(115,117,119))
	);
	display: block;
	float: right;
	color: white;
	margin-right: -0.75em;
	width: 95%;
	font-size: 1.25em;
	font-weight: lighter;
	margin-bottom: 1em;
}

.dbj {
	float: right;
	text-align: right;
	margin-right: -1em;
	margin-top: 1em;
}

h4.lower-caption {
	border-top: solid 1px #d2d2d2;
	border-bottom: solid 1px #d2d2d2;
	color: #535456;
	font-size: 1.5em;
	text-align: center;
	font-weight: bold;
	padding: 0.25em 0;
	font-family: 'Jura', serif;
}

footer {
	background: url(images/bg-pattern.jpg);
	margin-top: 2em;
}

.footer-inner {
	background: url(images/footer_border.png) repeat-x;
}

h3.inverse {
	display: block;
	background-image: linear-gradient(bottom, rgb(255,195,54) 34%, rgb(255,226,109) 67%);
	background-image: -o-linear-gradient(bottom, rgb(255,195,54) 34%, rgb(255,226,109) 67%);
	background-image: -moz-linear-gradient(bottom, rgb(255,195,54) 34%, rgb(255,226,109) 67%);
	background-image: -webkit-linear-gradient(bottom, rgb(255,195,54) 34%, rgb(255,226,109) 67%);
	background-image: -ms-linear-gradient(bottom, rgb(255,195,54) 34%, rgb(255,226,109) 67%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.34, rgb(255,195,54)),
		color-stop(0.67, rgb(255,226,109))
	);
	border: solid 1px #d0bd61;
	margin-top: 1em;
	margin-bottom: 1.5em;
	color: #535456;
	font-weight: bold;
	font-family: 'Jura', serif;
	padding: 0.1em 0 0.1em 0.5em;
	font-size: 1.1em;
}

ul.with-margin {
	margin-left: 2em;
}

.footer-links {
	border-top: solid 1px #535456;
	padding-top: 1em;
}

.footer-links ul {
	text-align: center;
	margin-bottom: 0;
	padding-bottom: 1em;
}	

.footer-links ul li {
	display: inline;
	margin-right: 2em;
}

.footer-links ul li a {
	text-decoration: none;
}

.footer-links ul li a:hover {
	text-decoration: underline;
}

.top-tools {
	float: right;
	width: 44%;
}

.social-container {
	float: left;
	width: 50%;
}

.search-container {
	float: right;
}

.search-button {
	display: block;
	text-decoration: none;
	color: #535456;
	background-image: linear-gradient(bottom, rgb(255,195,54) 34%, rgb(255,226,109) 67%);
	background-image: -o-linear-gradient(bottom, rgb(255,195,54) 34%, rgb(255,226,109) 67%);
	background-image: -moz-linear-gradient(bottom, rgb(255,195,54) 34%, rgb(255,226,109) 67%);
	background-image: -webkit-linear-gradient(bottom, rgb(255,195,54) 34%, rgb(255,226,109) 67%);
	background-image: -ms-linear-gradient(bottom, rgb(255,195,54) 34%, rgb(255,226,109) 67%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.34, rgb(255,195,54)),
		color-stop(0.67, rgb(255,226,109))
	);
	border: solid 1px #c19126;
	padding: 0.25em;
	width: 1.75em;
	text-align: center;
	margin: 0.4em 0;
	float: right;
}

.search-button:hover {
	background-image: linear-gradient(bottom, rgb(255,226,109) 67%, rgb(255,195,54) 34%);
	background-image: -o-linear-gradient(bottom, rgb(255,226,109) 67%, rgb(255,195,54) 34%);
	background-image: -moz-linear-gradient(bottom, rgb(255,226,109) 67%, rgb(255,195,54) 34%);
	background-image: -webkit-linear-gradient(bottom, rgb(255,226,109) 67%, rgb(255,195,54) 34%);
	background-image: -ms-linear-gradient(bottom, rgb(255,226,109) 67%, rgb(255,195,54) 34%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.34, rgb(255,226,109)),
		color-stop(0.67, rgb(255,195,54))
	);
}

.searchbox {
	width: 75% !important;
	float: left;
	margin: 0.4em 0 !important;
}

header.internal_gallery {
	background: url(images/internal_gallery_header.jpg) no-repeat center center;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
	margin-bottom: 2em;
	min-height: 440px;
}

.top-caption {
	font-family: 'Jura', serif;
	text-align: center;
}

.top-caption h2 {
	font-size: 2em;
	font-weight: bold;
}

.top-caption h5 {
	font-size: 1.15em;
	border-top: solid 1px #d2d2d2;
	border-bottom: solid 1px #d2d2d2;
}

.gallery {
	margin: 4em 0;
}

.gallery img {
	float: left;
	cursor: pointer;
	opacity: 0.9;
}

.gallery img:hover {
	opacity: 1.0;
}

.port_desc {
	display: block;
	background: url(images/bg-pattern.jpg);
	-moz-box-shadow: 3px 5px 20px 5px #282828;
  -webkit-box-shadow: 3px 5px 20px 5px #282828;
  box-shadow: 3px 5px 20px 5px #282828;
  width: 30em;
  z-index: 1000;
  position: absolute;
  left: 50%;
  padding: 1em;
  margin-top: 45px;
  margin-left: -16em;
  border-radius: 3px;
  display: none;
}

.port_desc h3 {
	font-weight: bold;
	font-family: 'Jura', serif;
}

header.contact-header {
	background: url(images/internal_v2_header.jpg) no-repeat center center;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
	margin-bottom: 2em;
	min-height: 428px;
}

header.contact-header .slider {
	top: 11em;
}

.main section {
	border-bottom: solid 1px #d2d2d2;
	padding-bottom: 0.5em;
	margin-bottom: 1em;
}

.main section:last-child {
	border-bottom: none;
	margin-bottom: 0;
	padding-bottom: 0;
}

.seperators {
	border-top: solid 1px #d2d2d2;
	border-bottom: solid 1px #d2d2d2;
	text-align: center;
	margin-bottom: 1.5em;
}

.border {
	border-bottom: solid 1px #d2d2d2;
	padding-bottom: 0.35em;
}

.border .five.columns img {
	max-width: 100%;
}

.border:last-child {
	border-bottom: none;
}

.extra-bottom {
	margin-bottom: 4em;
}

header.internal {
	background: url(images/internal_header.jpg) no-repeat center center;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
	margin-bottom: 2em;
	min-height: 440px;
}

header.internal .slider {
	top: 12em;
}

.extra-top {
	margin-top: 1em;
}

.categories ul li {

}

.categories ul li a {
	text-decoration: none;
	float: right;
	padding: 0.75em;
	font-weight: bold;
	display: block;
	margin-right: -15px;
	text-align: right;
}

.categories ul li a:hover {
	background: rgba(184,184,185,0.7);
	color: white;
}

.categories ul li:last-child a {
	margin-bottom: 1em;
}

section.post img {
	max-width: 100%;
}

section.post h5 a {
	text-decoration: none;
}

.generic-template h2 {
	font-weight: bold;
	font-family: 'Jura', serif;
	margin-top: 2em;
}

.generic-template h4 {
	font-weight: bold;
	margin-bottom: 1em;
}

.generic-template p {
	line-height: 1.5em;
}

ul.normal-list {
	list-style-type: disc;
	margin-left: 30px;
}

.sidebar-images {
	max-width: 100%;
	display: block;
	margin: 1.5em auto;
}

/* Fix later 

* { margin: 0; padding: 0; }
body { background: white; font: 14px/1.4 Georgia, Serif; }
.screen-reader-text { position: absolute; left: -9999px; top: -9999px; }
.clear { clear: both; }
.group:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
* html .group, *:first-child+html .group { zoom: 1; } 

#page-wrap { width: 960px; margin: 20px auto; }

h1, h2, h3 { font-weight: normal; margin: 0 0 10px 0; }
h1 { }
h2 { }
h3 { }

p { margin: 0 0 10px 0; }
a { }
a:hover { } 

blockquote { }
blockquote p { }

ul, ol { margin: 0 0 10px 0; }

.post { }

.entry { }
.entry a { }
.entry a:hover { }

pre { }
code, tt { }

#meta { }
.postmetadata { }

#sidebar { }

.navgation { }
   .next-posts { }
   .prev-posts { }

#searchform { }
	#s { }
	#searchsubmt { }
	
ol.commentlist { list-style: none; }
ol.commentlist li { }
ol.commentlist li.alt { }
ol.commentlist li.bypostauthor { }
ol.commentlist li.byuser { }
ol.commentlist li.comment-author-admin { }
ol.commentlist li.comment { border-bottom: 1px dotted #666; padding: 10px; }
ol.commentlist li.comment div.comment-author { }
ol.commentlist li.comment div.vcard { }
ol.commentlist li.comment div.vcard cite.fn { font-style: normal; }
ol.commentlist li.comment div.vcard cite.fn a.url { }
ol.commentlist li.comment div.vcard img.avatar { float:right; margin: 0 0 10px 10px; }
ol.commentlist li.comment div.vcard img.avatar-32 { }
ol.commentlist li.comment div.vcard img.photo { }
ol.commentlist li.comment div.vcard span.says { }
ol.commentlist li.comment div.commentmetadata { }
ol.commentlist li.comment div.comment-meta { font-size: 10px; }
ol.commentlist li.comment div.comment-meta a { color: #ccc; }
ol.commentlist li.comment p { }
ol.commentlist li.comment ul { }
ol.commentlist li.comment div.reply { font-size: 11px; }
ol.commentlist li.comment div.reply a { font-weight: bold; }
ol.commentlist li.comment ul.children { list-style: none; margin: 10px 0 0; }
ol.commentlist li.comment ul.children li { }
ol.commentlist li.comment ul.children li.alt { }
ol.commentlist li.comment ul.children li.bypostauthor { }
ol.commentlist li.comment ul.children li.byuser { }
ol.commentlist li.comment ul.children li.comment { }
ol.commentlist li.comment ul.children li.comment-author-admin { }
ol.commentlist li.comment ul.children li.depth-2 { border-left: 5px solid #555; margin: 0 0 10px 10px; }
ol.commentlist li.comment ul.children li.depth-3 { border-left: 5px solid #999; margin: 0 0 10px 10px; }
ol.commentlist li.comment ul.children li.depth-4 { border-left: 5px solid #bbb; margin: 0 0 10px 10px; }
ol.commentlist li.comment ul.children li.depth-5 { }
ol.commentlist li.comment ul.children li.odd { }
ol.commentlist li.even { background: #fff; }
ol.commentlist li.odd { background: #f6f6f6; }
ol.commentlist li.parent { border-left: 5px solid #111; }
ol.commentlist li.thread-alt { }
ol.commentlist li.thread-even { }
ol.commentlist li.thread-odd { }

form { }
input[type=text] { }
textarea { } */